body {
    background-image: url('../images/bg-king.jpg');
    margin: 0px;
    padding: 0px;
}

.chessboard {
    margin: 0px 25% 0px 15%;
    display: grid;
    grid-template-columns: repeat(8, minmax(50px, auto));
    border: 4px solid black;
}

.white-block,
.black-block {
    text-align: center;
    border: 1px solid black;
    width: 100%;
    height: 80px;
}

.black-block {
    background: #CABCA2;
    /*#D4C783  */
}

.white-block {
    background-color: #A6865F;
    /*thistle , #A5844E */
}

div>img {
    cursor: pointer;
    height: 85%;
    max-width: 100%;
}

.game-over {
    display: none;
    position: absolute;
    font-size: 86px;
    z-index: 100;
    color: red;
    top: 30%;
    right: 25%;
    left: 27%;
}

.right-part {
    width: 19%;
    position: absolute;
    right: 20px;
    top: 130px;
    border: 2px solid black;
}

.reset-button-div {
    position: absolute;
    bottom: -34px;
    left: -2px;
    font-size: 18px;
    width: 102%;
    height: 35px;
    color: white;
    border: 2px solid black;
    /* background-color: rgb(0, 184, 148); */
    background-color: #172c50;
}

.turn-name-div,
.enamy-target-div,
.check-status {
    width: 100%;
    border: 2px solid black;
    height: 60px;
    text-align: center;
}

.turn-name-div,
.enamy-target-div,
.check-status {
    height: 135px;
}

.turn-name,
#checkStatus,
.reset-button-div  {
    font-weight: bolder;
}

.turn-name {
    font-size: 40px;
}

.turn-name,
.enamy-label {
    color: #800000;
}

.enamy-label,
#enemy-count {
    font-weight: bold;
    font-size: 24px;
}

#enemy-count,
#checkStatus {
    font-size: 30px;
    color: rgb(252, 21, 21);
}